body {
  margin: 0px;
  background-color: rgb(49, 49, 49);
}
h1 {
  color: rgb(199, 199, 199);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
  text-align: center;
}
h2 {
  color: rgb(199, 199, 199);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
  text-align: center;
}
p {
  color: rgb(167, 167, 167);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: small;
  text-align: center;
}
footer {
  color: rgb(167, 167, 167);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: smaller;
  text-align: center;
}

#footbar {
  color: rgb(167, 167, 167);
}

hr.rounded {
  border-top: 2px solid #bbb;
  border-radius: 1px;
  text-align: center;
}

li {
  color: rgb(167, 167, 167);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: small;
  text-align: center;
}

ul {
  list-style: none; /* Remove default bullets */
  text-align: center;
}

ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: white; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: rgb(0, 0, 0);
  overflow: auto;

  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  position: fixed; /* Make it stick/fixed */

  /* Center horizontally*/
  display: flex;
  justify-content: center;
  margin: auto;
  top: 0; /* Stay on top */
  align-items: center;
}

/* Navbar links */
.navbar a {
  display: inline-block;
  height: 100%;
  float: none;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  border-bottom: 3px solid rgb(38, 38, 38);
}

/* Current/active navbar link */
.active {
  border-bottom: 3px solid rgb(255, 0, 0);
}

.center-icon a {
  display: inline-block;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: left;
    display: block;
  }
  .center-icon a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
